/data/
/Cours/data/*
!/Cours/data/processed/
!/Cours/data/processed/**
.DS_Store
.Rhistory
.RData
.Rproj.user/
Rplots.pdf
Cours/notebooks/*_files/
Cours/notebooks/*_cache/
.Rlibs/
Cours/rapport_2/data